body  {
    margin: 0;
    background-color: #161A30;
    height: 2000px;
}

#menu{
    height: 100vh;
    display: flex;
	flex-direction:column;
    overflow:hidden;
}
.title{
	display:flex;
    flex-direction: column;
    margin: 5vh 0 0 0;
	color:#F0ECE5;
	font-size:3vw;
	width:100%;
    height: fit-content;
	align-content: center;
	justify-content: center;
}

.title h1,h4{
    height: 8vw;
    width: 100%;
    margin: 0;
    text-align: center;
}

#menu-items {
    width: fit-content;
    height: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    margin-left: 7vw;
    z-index:2;
}

.menu-item{
    color: #B6BBC4;
    font-size: 5vh;
    width: fit-content;
    display: block;
    text-decoration: none;
    padding: 2vh;
  }

.background-img{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-repeat: repeat;
    height: 9500px;
    width: 100%;
}

#background-img {
    position: absolute;
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
    filter: brightness(0.5)contrast(0.1);
}

.para{
    display: flex;
    color:#B6BBC4;
    flex-direction: column;
    width: 100%;
    
    max-height: 30vh;
    font-size: 5vh;
}

.para ol{
    margin: 0 0 4vh 0;
}

.para p{
    margin: 0 0 4vh 0;
}


.button a{
    font-size: 5vh;
}

.button{
    height: fit-content;
    width: fit-content;
    color: #0c0f21;
    background-color: #F0ECE5;
    border-radius: 25px;
    transition: 0.2s;
}

.button:hover{
    color: #7a80a5;
    background-color: #3e3d3b;
    border-radius: 20px;
    transition: 0.2s;
}

.title1{
    color:white;
    font-size: 3vw;
    height: fit-content;
    width: 100%;
}

.title1 h1{
    margin: 2vh 0 2vh 0;
}

#info1{
    height: 1300px;
	width:fit-content;
	display: flex;
	flex-wrap:wrap;
    flex-direction: column;
	z-index:3;
    padding-left: 2rem;
}

#info2{
    height: 1600px;
	width:fit-content;
	display: flex;
	flex-wrap:wrap;
    flex-direction: column;
	z-index:3;
    overflow: hidden;
    padding-left: 2rem;
}

#info3{
    height: 1700px;
	width:fit-content;
	display: flex;
	flex-wrap:wrap;
    flex-direction: column;
	z-index:3;
    overflow: hidden;
    padding-left: 2rem;
}

#info4{
    height: 1500px;
	width:fit-content;
	display: flex;
	flex-wrap:wrap;
    flex-direction: column;
	z-index:3;
    overflow: hidden;
    padding-left: 2rem;
}

#info5{
    height: 1600px;
	width:fit-content;
	display: flex;
	flex-wrap:wrap;
    flex-direction: column;
	z-index:3;
    overflow: hidden;
    padding-left: 2rem;
}

#kontak{
    height: 700px;
	width:fit-content;
	display: flex;
	flex-wrap:wrap;
    flex-direction: column;
	z-index:3;
    overflow: hidden;
    padding-left: 2rem;
}

#bonus{
	width: fit-content;
    height: 1000px;
	display: flex;
	flex-wrap:wrap;
    flex-direction: column;
	z-index:3;
    overflow: hidden;
    padding-left: 2rem;
}

#image{
    height: 40vh;
}
.image{
    height: fit-content;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#image1{
    height: 40vh;
}
#image2{
    height: 80vh;
}
#image3{
    height: 40vh;
}
#image4{
    height: 40vh;
}

#menu-items:hover >.menu-item{
  opacity: 0.3;
}

#menu-items:hover >.menu-item:hover{
  opacity:1;
  font-size: 40px;
  transition: 0.3s;
}

.menu-bg-pattern{
    height: auto;
    width: auto;
    overflow: hidden;
}

#menu-bg-pattern{
  height:100vh;
  width:100vw;
  background-image: radial-gradient(rgba(236, 196, 241, 0.1) 12%, transparent 60%);
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  
  position: absolute;

  right: 0px;
  bottom: 0px;
  z-index:1;
  
  transition: 0.2s;
  overflow: hidden;
  }
  
#menu-items:hover ~ #menu-bg-pattern {
    background-size: 20vmin 20vmin;
    transition: 1s;
    opacity: 50%;
    rotate: 2deg;
    background-image: radial-gradient(rgba(185, 152, 231, 0.1) 12%, transparent 60%);
}

