body{
        margin: 0;
    background-color: #161A30;
}

.index{
    overflow: hidden;
}

#menu{
    height: 100vh;
    display: flex;
	flex-direction:column;
    overflow:hidden;
}
.title{
    margin: 7vh 0 0 0;
	display:flex;
    flex-direction: column;
	color:#F0ECE5;
	font-size:4vh;
	width:100%;
    padding: 2vh;
    min-height: 23vh;
}

.title h1,h4{
    height: 50%;
    width: 100%;
    margin: 0;
    text-align: center;

}

#menu-items {
    width: fit-content;
    height: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    margin-left: 7vw;
    z-index:2;
}

.menu-item{
    color: #B6BBC4;
    font-size: 4vh;
    width: fit-content;
    display: block;
    text-decoration: none;
    padding: 1vh;
  }

#menu-items:hover >.menu-item{
  opacity: 0.3;
}

#menu-items:hover >.menu-item:hover{
  opacity:1;
  font-size: 6vh;
  transition: 0.3s;
}

.menu-bg-pattern{
    height: auto;
    width: auto;
    overflow: hidden;
}

#menu-bg-pattern{
  height:100vh;
  width:100vw;
  background-image: radial-gradient(rgba(236, 196, 241, 0.1) 12%, transparent 60%);
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  
  position: absolute;

  right: 0px;
  bottom: 0px;
  z-index:1;
  
  transition: 0.2s;
  overflow: hidden;
  }
  
#menu-items:hover ~ #menu-bg-pattern {
    background-size: 20vmin 20vmin;
    transition: 1s;
    opacity: 50%;
    rotate: 2deg;
    background-image: radial-gradient(rgba(185, 152, 231, 0.1) 12%, transparent 60%);
}

.page{
    margin: 0;
}

.box{
    margin: 3vw;
    padding-top: 1vh;
    height: 400vh;
    min-height: 1200px;
    background-color: #3e3d3b2d;
    border-radius: 20px;
}

.para{
    display: flex;
    color:#B6BBC4;
    flex-direction: column;
    width: 100%-3vw;
    padding: 5vh;
    max-height: 30vh;
    font-size: 4vh;
}

.para ol{
    margin: 0 0 4vh 0;
}

.para p{
    margin: 0 0 4vh 0;
}

.button a{
    font-size: 4vh;
}

.button{
    height: fit-content;
    width: fit-content;
    color: #0c0f21;
    background-color: #F0ECE5;
    border-radius: 25px;
    transition: 0.2s;
}

.button:hover{
    color: #7a80a5;
    background-color: #3e3d3b;
    border-radius: 20px;
    transition: 0.2s;
}

.title1{
    color:white;
    font-size: 3vh;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.title1 h1{
    margin: 2vh 0 2vh 0;
}

.image{
    width: 100%;
}

#image{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}